*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

ul.parent{
    display: flex;
    justify-content: center;
    background-color: grey;
 li{
     position: relative;
     a{
         padding: 10px;
         text-transform: uppercase;
         text-decoration: none;
         cursor: pointer;
         font-size: 18px;
         color: #fff;
        &:hover{
            color: red;
         }
         ul{
            position: absolute;
            display: none;
            background-color: grey;
        }
     }
     &:hover{
         ul{
            display: block;
           }
        }
    }
}
