* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
ul {
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    li {
        position: relative;
        a {
            color: white;
            padding: 20px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 25px;
            &:hover {
                color: red;
            }
        }
        ul {
            position: absolute;
            background-color: grey;
            display: none;
            width: 150px;
            top: 40px;
        }
        &:hover {
            ul {
                display: block;
            }
        }
    }
}

.header {
    background-image: url("../image/header.jpg");
    width: 100%;
    height: 300px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    .products{
        list-style: none;
        background-color: #fff;
        .product{
            &:hover{
                background-color: cornsilk;
            }
            .title{
                font-size: 20px;
                text-align: center;
                text-transform: uppercase;
            }
            .discription{
                text-align: center;
            }
        }
        li{
            position: relative;
            width: 200px;
            height: 200px;
            background-color: #d3d3d3;

            button{
                position: absolute;
                bottom: 0;
                width: 100%;
                border: none;
                background-color: grey;
                height: 24px;
            }
            img{
                position: absolute;
                width: 150px;
                height: 120px;
                bottom: 25px;
                left: 25px;
            }

            &:hover{
                button{
                    color: #fff;
                    background-color: blue;
                }
                .title{
                    color: darkmagenta;
                }
                .discription{
                    color: darkgreen;
                }
            }

        }
    }
}